.footer-container{


    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    width: 95%;
    position: fixed;
    bottom: 10px;
    margin: 0 2.5%;
    height: 30px;
    /* border-radius: 10px; */
    padding: 3.5px 0vw;
    z-index: -1;
    /* font-size: 1.2rem;
    padding: 6.5px 30px;
    background-color: #fff;
    width: 95%;
    height: 30px;
    border-radius: 13px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1; */
}

.footer-txt {
    padding: 3px 0;
   display: inline;
   background-color: #f7f7f7;
}